{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="mt-3 mb-4 text-center">USER DETAILS</h1>
<table class="container table table-bordered table-sucess table-striped table-hover">
    <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>PLACE</th>
        <th>GENDER</th>
        <th>EMAIL</th>
    </tr>

    {% for i in user %}
    <tr>
    <td >{{i.name}}</td>
    <td>{{i.age}}</td>
    <td>{{i.place}}</td>
    <td>{{i.gender}}</td>
    <td>{{i.email}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}